<div class="recipe-details-container">
  <h1 class="title"><%= @inventory.name %></h1>
  <div class="buttons">
    <%= link_to "Add Food", "/inventories/#{params[:id]}/inventory_foods/new", method: :get, class:"btn btn-primary"%>
  </div>
<br>
  <table class="table table-bordered table-hover">
    <thead class="table-secondary">
      <tr>
        <th>Food</th>
        <%# <th>Measurement unit</th> %>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
  
    <tbody>
      <% @inventory_foods.each do |food| %>
        <tr>
          <th class="align-middle"><%= food.food.name %></th>
          
          <td class="align-middle"><%= food.quantity %></td>
          <td class="align-middle"><%= button_to 'Delete', "/inventory_foods/" + food.id.to_s, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    
</div>
