<div class="recipe-details-container">
  <h1 class="title"><%= @inventory.name %></h1>
  <button class="btn-all">
    <%= link_to "Add Food", "/inventories/#{params[:id]}/inventory_foods/new", method: :get %>
  </button>
<br>
<br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Food</th>
        <%# <th>Measurement unit</th> %>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
  
    <tbody>
      <% @inventory_foods.each do |food| %>
        <tr>
          <th class="align-middle"><%= food.food.name %></th>
          
          <td class="align-middle"><%= food.quantity %></td>
          <td class="align-middle"><%= button_to 'Delete', "/inventory_foods/" + food.id.to_s, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-all"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    
</div>
