<div class="recipe-details-container">
  <h1 class="title"><%= @recipe.name %></h1>

  <div class="recipe-details">
    <div class="all-details">
      <p class="detail"><span>Preparation Time:</span><span><%= @recipe.preparation_date %> hours</span></p>
      <p class="detail"><span>Cooking Time:</span> <span><%= @recipe.cooking_time %> hours</span></p>
      <p class="detail"><%= @recipe.description %></p>
    </div>
    <div class="toggle">
      <div class="private"><%=@recipe.public? ? 'Public' : 'Private'%></div>
      <%= button_to @recipe.public? ? 'Make private' : 'Make public', toggle_recipe_path(id: @recipe.id), method: :post, class: 'toggle_btn', remote: true %> 
    </div>

  </div>

  <div class="buttons">
    <%# link_to "Generate shooping list", shoppinglist_index_path(recipe_id: @recipe.id) %>
    <button>Generate Shopping List</button>
    <%# link_to 'Add ingredient', recipe_foods_path(recipe_id: @recipe.id) %>
    <%# <button>Add ingredient</button> %>
    <%= link_to "Add ingredient", "/recipes/#{params[:id]}/recipe_foods/new", method: :get, class:"btn btn-primary" %>
  </div>
  <br>
  <table class="table table-bordered table-hover">
    <thead class="table-secondary">
      <tr>
        <th>#</th>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @recipe_foods.each_with_index do |food, index| %>
        <tr>
          <th class="align-middle"><%= index + 1 %></th>
          <th class="align-middle"><%= food.food.name %></th>
          <td class="align-middle"><%= food.quantity %></td>
          <th>$<%= food.food.price * food.quantity %></th>
          <td class="align-middle"><%= button_to 'Delete', "/recipe_foods/" + food.id.to_s, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>