<div class="recipe-details-container">
  <h1 class="title"><%= @recipe.name %></h1>

  <div class="recipe-details">
    <div class="all-details">
      <p ><span class="detail">Preparation Time:</span><span><%= @recipe.preparation_date %> hours</span></p>
      <p ><span class="detail">Cooking Time:</span> <span><%= @recipe.cooking_time %> hours</span></p>
      <p ><span class="detail">Description:</span><%= @recipe.description %></p>
    </div>
    <div class="toggle">
      <div class="private"><%=@recipe.public? ? 'Public' : 'Private'%></div>
      <%= button_to @recipe.public? ? 'Make private' : 'Make public', toggle_recipe_path(id: @recipe.id), method: :post, class: 'toggle_btn', remote: true %> 
    </div>

  </div>

  <div class="buttons">
    <%# link_to "Generate shooping list", shoppinglist_index_path(recipe_id: @recipe.id) %>
    <%# <button>Generate Shopping List</button> %>
    <%# link_to 'Add ingredient', recipe_foods_path(recipe_id: @recipe.id) %>
    <!-- Button trigger modal -->
<button type="button" class="devise-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
 Generating Shopping List
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="new-recipe-container">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Generating Shopping List</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
    <%= form_with url: shopping_lists_path(recipe_id: @recipe.id, inventory_id: :inventory_id), method: :get do |form| %>    
    <%= form.hidden_field :recipe_id, value: @recipe.id %>
    <%= form.collection_select :inventory_id, @inventories.order(:name),:id,:name, :include_blank => "--Select inventory--" %>
    <%= form.submit "Generate Shopping List", class: 'btn-all' %>
  <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%# <button type="button" class="btn btn-primary">Understood</button> %>
      </div>
    </div>
  </div>
</div>
</div>
      <button class="devise-button" type="button"><%= link_to "Add ingredient", "/recipes/#{params[:id]}/recipe_foods/new", method: :get %></button>
  </div>
  <br>
  <table class="table table-bordered ">
    <thead>
      <tr>
        <th>#</th>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @recipe_foods.each_with_index do |food, index| %>
        <tr>
          <th class="align-middle"><%= index + 1 %></th>
          <th class="align-middle"><%= food.food.name %></th>
          <td class="align-middle"><%= food.quantity %></td>
          <th>$<%= food.food.price * food.quantity %></th>
          <td class="align-middle"><%= button_to 'Delete', "/recipe_foods/" + food.id.to_s, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-all" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>