<%= form_with model: @recipe_food, url: "/recipes/#{params[:id]}/recipe_foods/"  do |form| %>
<div class="new-recipe-container">
    <%= form.hidden_field :recipe_id, value: params[:id] %>
    <div>
      <%= form.label :name, 'Quantity'%><br>
      <%= form.number_field :quantity, placeholder: 'Quantity', step: :any %>
   </div>
    <div>
      <%= form.label :name, 'Food name'%><br>
      <%= form.collection_select :food_id, Food.order(:name), :id, :name, prompt: true  %>
    <br></div><br>
  <div class="col-12">
      <%= form.submit "Add Recipe", class: "devise-button" %>
      
  </div>
  <br><%= link_to "Back", recipes_path ,class:"btn btn-secondary"%>
   </div>
    <% end %>
